<app-header></app-header>
<app-primary-nav (selectedOption)="selectedOption = $event"></app-primary-nav>
<app-secondary-nav [currentOption]="selectedOption"></app-secondary-nav>
<app-right-nav
  (selectedRightMenuOption)="selectedRightMenuOption = $event"
></app-right-nav>
<!-- Rest of the app's content -->

<div class="main-content">
  <div>
    @for(item of items; track item) {
    <li>{{ item }}</li>
    } @empty {
    <li>No items found</li>
    }
  </div>
  <router-outlet></router-outlet>
</div>
